name: Client CI

on:
  push:
    paths:
      - ".github/workflows/client-ci.yml"
      - "client/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
            cd /var/www/torrent-streaming
            git reset --hard
            git pull
            npm --prefix client install
            npm --prefix client run build
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          privateKey: ${{ secrets.SSH_KEY }}
